{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>

                            </div><!--end col-->

                        </div><!--end row-->
                    </div><!-- end page-title-box -->
                </div><!--end col-->
            </div><!--end row-->
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header" style="display: flex;justify-content: space-between;">
                                <div>
                                    <h4 class="card-title">{{instance.name}}</h4>
                                    <p class="text-muted mb-0">{{instance.designation}}</p>
                                </div>
                                <div>
                                    <a href="{% url 'web:edit_management_team' pk=instance.pk %}" style="background-color: aliceblue;padding: 11px;border-radius: 8px;margin-right: 3px;" ><i class="las la-pen text-info font-18"></i></a>
                                    <a class="action-button remove btn btn-default btn-icon" style="background-color: aliceblue;padding: 7px 11px;border-radius: 8px;"
                                    data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'web:delete_management_team' pk=instance.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                </div>
                            </div>

                            <div style="display: flex;justify-content: space-between;">
                                <img class="card-img-top img-fluid bg-light-alt" src="{{instance.image.url}}" alt="Card image cap" style="width: 50%;padding: 20px 10px;">
                                <p style="width: 50%;padding: 20px 10px;">{{instance.description}}</p>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div> <!-- end col -->
            </div>
        </div><!-- container -->
    <!-- end page content -->
{% endblock content %}
