{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">{{page_title}}</h4>
                            </div><!--end col-->
                            <div class="col-auto align-self-center">
                                <a class="btn btn-success btn-sm text-white px-4 d-inline-block"  href="{% url 'institution:edit_institution' pk=instance.pk %}" style="background: #12a4ed !important;border-color: #12a4ed !important;"><i class="mdi mdi-pen mr-2"></i>Edit</a>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!-- end page-title-box -->
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="dastone-profile">
                                <div class="row">
                                    <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                                        <div class="dastone-profile-main">
                                            <div class="dastone-profile-main-pic">
                                                <img src="{{instance.image.url}}" alt="" width="110px" height="110px" class="rounded-circle">
                                            </div>
                                            <div class="dastone-profile_user-detail">
                                                <h5 class="dastone-user-name">{{instance.name}}</h5>
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-4 ml-auto align-self-center">
                                        <ul class="list-unstyled personal-detail mb-0">
                                            <li class=""><i class="las la-phone mr-2 text-secondary font-22 align-middle"></i> <b> phone </b> : +91 {{contact.phone}}</li>
                                            <li class="mt-2"><i class="las la-envelope text-secondary font-22 align-middle mr-2"></i> <b> Email </b> : {{contact.email}}</li>
                                            <li class="mt-2"><i class="las dripicons-calendar text-secondary font-22 align-middle mr-2"></i> <b> Location </b> : <a href="{{contact.location_url}}">{{contact.location}}</a></li>
                                        </ul>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end f_profile-->
                        </div><!--end card-body-->
                    </div> <!--end card-->
                </div><!--end col-->
            </div><!--end row-->

            <div class="row" id="navbar">
                <div class="col-sm-12">
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#testimonials" onclick="paddingFunction('testimonials')">Testimonials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#daf" onclick="paddingFunction('daf')">Departments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#daf" onclick="paddingFunction('daf')">Fecilities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#gallery" onclick="paddingFunction('gallery')">Gallery</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#mnagement_team" onclick="paddingFunction('mnagement_team')">Mnagement Team</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#events" onclick="paddingFunction('events')">Events</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#about" onclick="paddingFunction('about')">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#contact" onclick="paddingFunction('contact')">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- testimonial -->
            <div class="row" id="testimonials">
                <div class="card-body">
                    <div class="card-header bg-white" style="border:1px solid #eaf0f7;border-radius: 10px 10px 0 0;">
                        <h4 class="card-title">Testimonials</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>

                                        <tr>
                                            <th width="55">SL.No</th>
                                            <th width="350">Title</th>
                                            <th width="300">designation</th>
                                            <th  width="490">description</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for testimonial in testimonials %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{testimonial.title}}</td>
                                            <td>{{testimonial.designation}}</td>
                                            <td>{{testimonial.description}}</td>
                                            <td class="text-right">
                                                {% comment %} <a href="{% url 'institution:institution_testimonial' pk=testimonial.pk %}?institution={{instance.pk}}"><i class="las la-eye text-info font-18"></i></a> {% endcomment %}
                                                <a href="{% url 'institution:edit_institution_testimonial' pk=testimonial.pk %}"><i class="las la-pen text-info font-18"></i></a>
                                                <a class="action-button remove btn btn-default btn-icon" style="padding:0;"
                                                 data-id="{{testimonial.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'institution:delete_institution_testimonial' pk=testimonial.pk %}?institution={{instance.pk}}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                                <!--end /table-->
                                <div style="text-align: right;"><a href="{% url 'institution:institution_testimonials' institution_pk=instance.pk %}"><button type="button" class="btn btn-soft-primary waves-effect waves-light">Read More...</button></a></div>
                            </div>
                            <!--end /tableresponsive-->
                            <!-- pagination -->
                        </div> <!-- end col -->
                    </div>
                </div>
            </div>

            <!-- department and facility -->
            <div class="row" id="daf">

                <div class="col-sm-4 m-0 p-0">
                    <div class="card-body">
                        <div class="card-header bg-white" style="border:1px solid #eaf0f7;border-radius: 10px 10px 0 0;">
                            <h4 class="card-title">Departments</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>

                                            <tr>
                                                <th width="55">
                                                <th>Name</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for department in departments %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{department.department_name}}</td>
                                                <td class="text-right">
                                                    <a href="{% url 'institution:institution_department' pk=department.pk %}"><i class="las la-eye text-info font-18"></i></a>
                                                    <a href="{% url 'institution:edit_institution_department' pk=department.pk %}"><i class="las la-pen text-info font-18"></i></a>
                                                    <a class="action-button remove btn btn-default btn-icon" style="padding:0;"
                                                     data-id="{{department.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'institution:delete_institution_department' pk=department.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    <!--end /table-->
                                    <div style="text-align: right;"><a href="{% url 'institution:institution_departments' institution_pk=instance.pk %}"><button type="button" class="btn btn-soft-primary waves-effect waves-light">Read More...</button></a></div>
                                </div>
                                <!--end /tableresponsive-->
                                <!-- pagination -->
                            </div> <!-- end col -->
                        </div>
                    </div>
                </div>

                <div class="col-sm-8  m-0 p-0">
                    <div class="card-body">
                        <div class="card-header bg-white" style="border:1px solid #eaf0f7;border-radius: 10px 10px 0 0;">
                            <h4 class="card-title">Facilities</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>

                                            <tr>
                                                <th width="55">SL.No</th>
                                                <th width="350">Title</th>
                                                <th width="780">designation</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for fasility in fasilities %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td><img src="{{fasility.image.url}}" alt="" class="rounded-circle thumb-xs mr-1">{{fasility.title}}</td>
                                                <td>{{fasility.designation}}</td>
                                                <td class="text-right">
                                                    {% comment %} <a href="{% url 'institution:institution' pk=fasility.pk %}"><i class="las la-eye text-info font-18"></i></a> {% endcomment %}
                                                    <a href="{% url 'institution:edit_institution_facility' pk=fasility.pk %}"><i class="las la-pen text-info font-18"></i></a>
                                                    <a class="action-button remove btn btn-default btn-icon" style="padding:0;"
                                                     data-id="{{fasility.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'institution:delete_institution_facility' pk=fasility.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    <!--end /table-->
                                    <div style="text-align: right;"><a href="{% url 'institution:institution_facilities' institution_pk=instance.pk %}"><button type="button" class="btn btn-soft-primary waves-effect waves-light">Read More...</button></a></div>
                                </div>
                                <!--end /tableresponsive-->
                                <!-- pagination -->
                            </div> <!-- end col -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- gallery -->
            <div class="row" id="gallery">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-white" style="display: flex;justify-content: space-between;">
                            <div>
                                <h4 class="card-title">Gallery</h4>
                            </div>
                            <div>
                                <a class="btn btn-success btn-sm text-white px-4 d-inline-block"  href="{% url 'institution:create_institution_gallery' %}?institute={{instance.pk}}" style="background: #12a4ed !important;border-color: #12a4ed !important;"><i class="mdi mdi-plus mr-2"></i>Add</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                {% for g in gallery %}
                                <div class="pb-3 col-sm-3">
                                    <img src="{{g.image.url}}" alt="" height="150" width="100%">

                                    <div style="right: 25px;display: flex;float: right;position: absolute;top: 16px;">
                                        <a class="action-button remove btn btn-default btn-icon" style="background-color: aliceblue;padding: 6px;border-radius: 8px;"
                                            data-id="{{g.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'institution:delete_institution_gallery' pk=g.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div style="text-align: right;"><a href="{% url 'institution:gallery_list' institution_pk=instance.pk %}"><button type="button" class="btn btn-soft-primary waves-effect waves-light">Read More...</button></a></div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!-- end col -->
            </div> <!-- end row -->

            <!-- Management Teams -->
            <div class="row" id="mnagement_team">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-white" style="display: flex;justify-content: space-between;">
                            <div>
                                <h4 class="card-title">Management Teams</h4>
                            </div>
                            <div>
                                <a class="btn btn-success btn-sm text-white px-4 d-inline-block"  href="{% url 'institution:create_institution_management_team' pk=instance.pk %}" style="background: #12a4ed !important;border-color: #12a4ed !important;"><i class="mdi mdi-plus mr-2"></i>Add</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for m in management_team %}
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <img src="{{m.image.url}}" alt="" class="img-thumbnail" width="120" height="120">
                                                <div class="media-body align-self-center ml-3 text-truncate">
                                                    <h3 class="my-0 font-weight-bold">{{m.name}}</h3>
                                                    <p class="text-muted mb-2 font-13">{{m.designation}}</p>
                                                </div><!--end media-body-->
                                            </div>
                                        </div><!--end card-body-->
                                    </div><!--end card-->
                                    <div style="right: 25px;display: flex;float: right;position: absolute;bottom: 25px;">
                                        <a href="{% url 'institution:edit_institution_management_team' pk=m.pk %}" style="background-color: aliceblue;padding: 5px;border-radius: 3px;margin-right: 5px;"><i class="las la-pen text-info font-18"></i></a>
                                        <a class="action-button remove btn btn-default btn-icon" style="background-color: aliceblue;padding: 5px;border-radius: 3px;"
                                            data-id="{{m.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'institution:delete_institution_management_team' pk=m.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                    </div>
                                </div> <!-- end col -->
                                {% endfor %}
                            </div>
                            <div style="text-align: right;"><a href="{% url 'institution:institution_testimonials' institution_pk=instance.pk %}"><button type="button" class="btn btn-soft-primary waves-effect waves-light">Read More...</button></a></div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!-- end col -->
            </div> <!-- end row -->

            <!-- Events -->
            <div class="row" id="events">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-white" style="display: flex;justify-content: space-between;">
                            <div>
                                <h4 class="card-title">Events</h4>
                            </div>
                            <div>
                                <a class="btn btn-success btn-sm text-white px-4 d-inline-block"  href="{% url 'institution:create_institute_events' %}?institution={{instance.pk}}" style="background: #12a4ed !important;border-color: #12a4ed !important;"><i class="mdi mdi-plus mr-2"></i>Add</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-columns" style="column-count: 4;">
                                        {% for e in events %}
                                        <div class="card">
                                            <img class="img-fluid bg-light-alt" src="{{ e.image.url }}" alt="Card image">
                                            <div class="card-header">
                                                <h4 class="card-title">{{e.title}}</h4>
                                            </div><!--end card-header-->
                                            <div class="card-body">
                                                <p class="card-text">{{e.description}}</p>
                                                <p class="card-text"><small class="text-muted">
                                                    {{e.date}}, {{e.time}}
                                                </small></p>
                                            </div><!--end card-body-->
                                            <div style="right: 6px;display: flex;float: right;position: absolute;top: 4px;">
                                                <a href="{% url 'institution:edit_institute_events' pk=e.pk %}?institution={{e.institution.pk}}" style="background-color: aliceblue;padding: 5px;border-radius: 3px;margin-right: 5px;"><i class="las la-pen text-info font-18"></i></a>
                                                <a class="action-button remove btn btn-default btn-icon" style="background-color: aliceblue;padding: 5px;border-radius: 3px;"
                                                    data-id="{{e.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'institution:delete_institute_events' pk=e.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                            </div>
                                            {% if e.event_status == "today" %}
                                                <span class="badge badge-success" style="left: 8px;display: flex;float: left;position: absolute;top: 8px;">Today</span>
                                            {% elif e.event_status == "upcomming" %}
                                                <span class="badge badge-warning" style="left: 8px;display: flex;float: left;position: absolute;top: 8px;">Upcomming</span>
                                            {% elif e.event_status == "completed" %}
                                                    <span class="badge badge-danger" style="left: 8px;display: flex;float: left;position: absolute;top: 8px;">Completed</span>
                                            {% endif %}
                                        </div><!--end card-->
                                        {% endfor %}
                                    </div>
                                    <div style="text-align: right;"><a href="{% url 'institution:institution_testimonials' institution_pk=instance.pk %}"><button type="button" class="btn btn-soft-primary waves-effect waves-light">Read More...</button></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- about -->
            <div class="row" id="about">
                <div class="col-lg-12">
                    <div class="card-header bg-white" style="border:1px solid #eaf0f7;border-radius: 10px 10px 0 0;display: flex;justify-content: space-between;">
                        <div>
                            <h4 class="card-title">About</h4>
                        </div>
                        <div>
                            <a href="{% url 'institution:edit_institution_about' pk=about.pk %}"><i class="las la-pen text-info font-18"></i></a>
                            <a class="action-button remove btn btn-default btn-icon" style="padding:0;"
                            data-id="{{about.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?"
                            href="{% url 'institution:delete_institution_about' pk=about.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                        </div>
                    </div>

                    {% if about %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-3 align-self-center text-center">
                                <img class="" src="{{about.image.url}}" alt="Card image" height="80">
                            </div>
                            <div class="col-md-9">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4 class="card-title">{{about.title}}</h4>
                                        </div><!--end col-->
                                        <div class="col-auto">
                                            <!-- <span class="badge badge-outline-light"></span> -->
                                        </div><!--end col-->
                                    </div>  <!--end row-->
                                </div><!--end card-header-->
                                <div class="card-body">
                                    <p class="card-text">{{about.description}}</p>
                                </div><!--end card-body-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end card-->
                    {% endif %}
                </div>
            </div>

            <!-- contact -->
            <div class="row" id="contact">
                <div class="card-body">
                    <div class="card-header bg-white" style="border:1px solid #eaf0f7;border-radius: 10px 10px 0 0;">
                        <h4 class="card-title">Contacts</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>

                                        <tr>
                                            <th width="50">SL.No</th>
                                            <th>phone</th>
                                            <th>email</th>
                                            <th width="300">location</th>
                                            <th>facebook</th>
                                            <th>instagram</th>
                                            <th>linkedin</th>
                                            <th>twitter</th>
                                            <th>whatsapp</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{contact.phone}}</td>
                                            <td>{{contact.email}}</td>
                                            <td><a href="{{contact.location_url}}" target="_blank">{{contact.location}}</a></td>
                                            <td><a href="{{contact.facebook}}" target="_blank">{{contact.facebook}}</a></td>
                                            <td><a href="{{contact.instagram}}" target="_blank">{{contact.instagram}}</a></td>
                                            <td><a href="{{contact.linkedin}}" target="_blank">{{contact.linkedin}}</a></td>
                                            <td><a href="{{contact.twitter}}" target="_blank">{{contact.twitter}}</a></td>
                                            <td><a href="{{contact.whatsapp}}" target="_blank">{{contact.whatsapp}}</a></td>
                                            <td class="text-right">
                                                {% comment %} <a href="{% url 'institution:institution' pk=contact.pk %}"><i class="las la-eye text-info font-18"></i></a> {% endcomment %}
                                                <a href="{% url 'institution:edit_institution_contact' pk=contact.pk %}"><i class="las la-pen text-info font-18"></i></a>
                                                <a class="action-button remove btn btn-default btn-icon" style="padding:0;"
                                                 data-id="{{contact.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'institution:delete_institution_contact' pk=contact.pk %}"><i class="las la-trash-alt text-danger font-18"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <!--end /table-->
                            </div>
                            <!--end /tableresponsive-->
                            <!-- pagination -->
                        </div> <!-- end col -->
                    </div>
                </div>
            </div>




        </div><!-- container -->
    <!-- end page content -->
{% endblock content %}
{% block static %}
    {% load static %}
    <style>
        .sticky {
            position: fixed;
            top: 0;
            width: 84%;
            z-index: 1;
            background-color: #f1f5fa;
          }

          .sticky + .content {
            padding-top: 60px;
          }
    </style>
    <script>
        function paddingFunction(id) {
            document.getElementById(id).style.paddingTop = "75px";
        }

        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
        </script>

{% endblock %}

